[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.sln.docstates
packages/
*.nupkg
*.snupkg

local.settings.json
appsettings.local.json

.docker/

*.log

.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.backup

*.tfvars
*.auto.tfvars

crash.log
override.tf
override.tf.json

*.mp4
*.avi
*.mov
*.mkv
*.zip
uploads/
outputs/
temp/

.DS_Store
Thumbs.db
Desktop.ini

ffmpeg.exe
ffmpeg
ffprobe.exe
ffprobe

[Tt]est[Rr]esults/

*.trx

*.cobertura.xml
*.opencover.xml
coverage.json
coverage.xml
coverage.info

coverage-report/
coveragereport/
GeneratedReports/
Report/
reports/

*.html
!src/Infrastructure/Resources/Emails/*